<h2 class="section-title">Feriados</h2>
<div class="card">
    <button id="add-holiday-btn" class="btn primary-btn mb-4">
        <i class="fas fa-plus"></i>Adicionar
        Feriado
    </button>
    <div id="holiday-calendar" class="calendar-placeholder mb-6">
        Calendário Interativo em breve!
    </div>
    <div id="holidays-list" class="list-items-container">

        <!-- Feriados 2024 -->
        <div class="list-item">
            <div>
                <p class="list-item-title">01/01/2024</p>
                <p class="list-item-subtitle">Confraternização Universal</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">12/02/2024</p>
                <p class="list-item-subtitle">Carnaval</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">13/02/2024</p>
                <p class="list-item-subtitle">Carnaval</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">14/02/2024</p>
                <p class="list-item-subtitle">Quarta-feira de Cinzas</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">29/03/2024</p>
                <p class="list-item-subtitle">Sexta-feira da Paixão</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">31/03/2024</p>
                <p class="list-item-subtitle">Páscoa</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">21/04/2024</p>
                <p class="list-item-subtitle">Dia de Tiradentes</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">01/05/2024</p>
                <p class="list-item-subtitle">Dia do Trabalhador</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">30/05/2024</p>
                <p class="list-item-subtitle">Corpus Christi</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">07/09/2024</p>
                <p class="list-item-subtitle">Independência do Brasil</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">12/10/2024</p>
                <p class="list-item-subtitle">Dia de Nossa Senhora Aparecida</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">02/11/2024</p>
                <p class="list-item-subtitle">Dia de Finados</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">15/11/2024</p>
                <p class="list-item-subtitle">Proclamação da República do Brasil</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">20/11/2024</p>
                <p class="list-item-subtitle">Dia Nacional de Zumbi e da Consciência Negra</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">25/12/2024</p>
                <p class="list-item-subtitle">Natal</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">01/01/2025</p>
                <p class="list-item-subtitle">Ano Novo</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">21/04/2025</p>
                <p class="list-item-subtitle">Dia de Tiradentes</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>

        <div class="list-item">
            <div>
                <p class="list-item-title">07/09/2025</p>
                <p class="list-item-subtitle">Dia da Independência</p>
            </div>
            <div class="actions">
                <button class="btn primary-btn btn-sm" disabled><i class="fas fa-edit"></i></button>
                <button class="btn danger-btn btn-sm" disabled><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</div>