.vs
/src/GuedesTime.Domain/bin
/src/GuedesTime.Domain/obj
/src/GuedesTime.Data/obj
/src/GuedesTime.Data/bin
/src/GuedesTime.MVC/bin
/src/GuedesTime.MVC/obj
/src/GuedesTime.Service/obj
/src/GuedesTime.Service/bin