@page
@model LoginModel
@{
    ViewData["Title"] = "Login - Health Time";
}

<h3 class="auth-title">Acesse sua conta</h3>

<form id="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-group">
        <label asp-for="Input.Email">Endereço de e-mail</label>
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.Password">Sua senha</label>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="form-options">
        <a id="forgot-password" asp-page="./ForgotPassword" class="forgot-password">Esqueceu a senha?</a>
    </div>

    <div class="auth-actions">
        <button id="login-submit" type="submit" class="btn primary-btn">Entrar</button>
    </div>
</form>

<p class="auth-switch">Não tem uma conta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crie agora</a></p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}