.info-tooltip-container {
    position: relative;
    display: flex;
    align-items: center;
}

.info-icon {
    font-size: 20px;
    color: var(--yellow-status);
    cursor: help;
    transition: transform 0.3s ease;
    animation: pulse-info-icon 2.5s infinite ease-in-out;
}

.info-tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 300px;
    background-color: var(--dark-text);
    color: var(--white);
    text-align: left;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.info-tooltip-text::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}

.info-tooltip-container:hover .info-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: var(--dark-text) transparent transparent transparent;
}

.tooltip-bottom {
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent var(--dark-text) transparent;
}

.tooltip-right {
    left: 140%;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-right::after {
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-color: transparent var(--dark-text) transparent transparent;
}

.tooltip-left {
    right: 140%;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-left::after {
    left: 100%;
    top: 50%;
    margin-top: -5px;
    border-color: transparent transparent transparent var(--dark-text);
}

@keyframes pulse-info-icon {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.info-tooltip-text .tooltip-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--lilac);
    margin: 0 0 8px 0;
}

.info-tooltip-text p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light-gray);
    opacity: 0.9;
    margin: 0;
}