@using GuedesTime.MVC.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model GuedesTime.MVC.ViewModels.InstituicaoViewModel

<div class="modal-header">
    <h3 class="modal-title">
        @((Model.Id == null || Model.Id == Guid.Empty) ? "Adicionar Nova Instituição" : "Editar Instituição")
    </h3>
</div>
<form asp-controller="Instituicao" asp-action="Upsert" method="post" id="form-upsert-instituicao">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <vc:summary />

    <div class="modal-body">
        <div class="form-group">
            <input asp-for="Nome" class="form-control campo-nome" id="Nome" placeholder="Ex: Colégio Inovação" />
            <span asp-validation-for="Nome" class="text-danger"></span>
            <span id="name-error" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CodigoCie" class="control-label"></label>
            <input asp-for="CodigoCie" class="form-control" />
            <span asp-validation-for="CodigoCie" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Cnpj" class="control-label"></label>
            <input asp-for="Cnpj" class="form-control campo-cnpj" id="Cnpj" />
            <span asp-validation-for="Cnpj" class="text-danger"></span>
            <span id="cnpj-error" class="text-danger"></span>
        </div>
        @if (Model.Id != null && Model.Id != Guid.Empty)
        {
            <div class="form-group">
                <div class="toggle-switch-group">
                    <label class="control-label" for="Ativo-checkbox-visual">Instituição Ativa</label>
                    <div class="toggle-switch">
                        <input type="checkbox"
                               id="Ativo-checkbox-visual"
                               class="campo-Ativo-toggle"
                               data-initial-value="@ViewBag.EstadoInicialAtivo.ToString().ToLower()" />
                        <label class="toggle-slider" for="Ativo-checkbox-visual"></label>
                    </div>
                </div>
                <input type="hidden" name="Ativo" id="hidden-Ativo-value" />
            </div>
        }
        <partial name="_Endereco" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn secondary-btn" data-modal-close>Cancelar</button>
        <button type="submit" class="btn primary-btn">
            @((Model.Id == null || Model.Id == Guid.Empty) ? "Criar" : "Salvar Alterações")
        </button>
    </div>
</form>