@import url('base/_variables.css');
@import url('base/_reset.css');
@import url('base/_typography.css');

@import url('layout/_navigation.css');
@import url('layout/_grid.css');
@import url('layout/_header.css');
@import url('layout/_sidebar.css');

@import url('components/_buttons.css');
@import url('components/_cards.css');
@import url('components/_forms.css');
@import url('components/_modals.css');
@import url('components/_badges.css');
@import url('components/_tables.css');
@import url('components/_pagination.css');
@import url('components/_toast.css');
@import url('components/_settings.css');
@import url('components/_uploader.css');
@import url('components/_instituicao.css');

@import url('pages/_landing.css');
@import url('pages/_auth.css');
@import url('pages/_panel.css');
@import url('pages/_instituicoes.css');
@import url('pages/_profile.css');