<div id="toast-container" class="toast-container"></div>
<input type="hidden" id="tempdata-success-message" value="@TempData["success"]" />
<input type="hidden" id="tempdata-error-message" value="@TempData["error"]" />
<input type="hidden" id="tempdata-info-message" value="@TempData["info"]" />
<input type="hidden" id="tempdata-warning-message" value="@TempData["warning"]" />
